<div class="container">
     <div class="row">
          <div class="col-md-4 col-sm-6">
               <div class="footer-info">
                    <div class="section-title">
                         <h2 style="color:white">Tambores Nogueira</h2>
                    </div>
                    <address>
                         <p>Rua 31 de Março Nº 1.290 - Centro - Campinápolis-MT</p>
                    </address>

<!--                     <ul class="social-icon">
                         <li><a href="#" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                         <li><a href="#" class="fa fa-twitter"></a></li>
                         <li><a href="#" class="fa fa-instagram"></a></li>
                    </ul>
 -->
                    <div class="copyright-text"> 
                         <p>campinapolis.com &copy; 2019</p>
                         <!-- <p>Desenvolvido: <a rel="nofollow" href="http://campinapolis.com" title="Portal" target="_parent">Eudes & Carlos</a></p> -->
                    </div>
               </div>
          </div>

          <div class="col-md-4 col-sm-6">
               <div class="footer-info">
                    <div class="section-title">
                         <h2 style="color:white">Contato</h2>
                    </div>
                    <address>
                         <p>(66) 3437-1341, (66) 98115-8518</p>
                         <p><a href="email para tamboresnogueira@hotmail.com">tamboresnogueira@hotmail.com</a></p>
                    </address>

                    <div class="footer_menu">
                         <h2 style="color:white">Links</h2>
                         <ul>
                              <li><a href="Https://campinapolis.com">Campinapolis.com</a></li>
                                        <!-- <li><a href="Http://www.youtube.com">Youtube</a></li>
                                        <li><a href="Http://www.facebook.com">Facebook</a></li>
                                        <li><a href="Http://www.google.com.br">Google</a></li> -->
                                   </ul>
                              </div>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-12">
                         <div class="footer-info newsletter-form">
                              <div class="section-title">
                                   <h2 style="color:white">Boletim Informativo</h2>
                              </div>
                              <div>
                                   <div class="form-group">
                                        <form action="/boletins" method="post">
                                             <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                                             <input type="email" class="form-control" placeholder="Coloque seu email" name="boletim[email]" id="email" required="">
                                             <input type="submit" class="form-control" name="submit" id="form-submit" value="Enviar me">
                                        </form>
                                        <span><sup>*</sup> Não enviamos spam para seu email.</span>
                                   </div>
                              </div>
                         </div>
                    </div>
                    
               </div>
          </div>