<div class="container">
     <div class="row">

          <div class="col-md-12 col-sm-12">
               <div class="section-title">
                    <h2>Equipe <small>Nosso Time!</small></h2>
               </div>
          </div>

          <div class="col-md-4 col-sm-6">
               <div class="team-thumb">
                    <div class="team-image">
                         <img src="images/author-image1.jpg" class="img-responsive" alt="">
                    </div>
                    <div class="team-info">
                         <h3>José Lazaro Nogueira Neto</h3>
                         <span>Empresário</span>
                    </div>
                    <ul class="social-icon">
                         <li><a href="https://www.facebook.com/leonardo.padua.79" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                    </ul>
               </div>
          </div>

          <div class="col-md-4 col-sm-6">
               <div class="team-thumb">
                    <div class="team-image">
                         <img src="images/author-image2.jpg" class="img-responsive" alt="">
                    </div>
                    <div class="team-info">
                         <h3>Raquel</h3>
                         <span>Empresária</span>
                    </div>
                    <ul class="social-icon">
                         <li><a href="https://www.facebook.com/profile.php?id=100011347917864" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                    </ul>
               </div>
          </div>

          <!-- <div class="col-md-3 col-sm-6"> -->
                         <!-- <div class="team-thumb">
                              <div class="team-image">
                                   <img src="images/author-image3.jpg" class="img-responsive" alt="">
                              </div>
                              <div class="team-info">
                                   <h3>Maria</h3>
                                   <span>Secretária.</span>
                              </div>
                              <ul class="social-icon">
                                   <li><a href="#" class="fa fa-twitter"></a></li>
                                   <li><a href="#" class="fa fa-envelope-o"></a></li>
                                   <li><a href="#" class="fa fa-linkedin"></a></li>
                              </ul>
                         </div> -->
                         <!-- </div> -->

                         <div class="col-md-4 col-sm-6">
                              <div class="team-thumb">
                                   <div class="team-image">
                                        <img src="images/author-image4.jpg" class="img-responsive" alt="">
                                   </div>
                                   <div class="team-info">
                                        <h3>Débora</h3>
                                        <span>Atendente.</span>
                                   </div>
<!--                                    <ul class="social-icon">
                                        <li><a href="#" class="fa fa-twitter"></a></li>
                                   </ul>
 -->                              </div>
                         </div>

                    </div>
               </div>