<%= form_with(model: boletim, local: true) do |form| %>
  <% if boletim.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(boletim.errors.count, "error") %> prohibited this boletim from being saved:</h2>

      <ul>
      <% boletim.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
