<p id="notice"><%= notice %></p>

<h1>Boletins</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @boletins.each do |boletim| %>
      <tr>
        <td><%= boletim.email %></td>
        <td><%= link_to 'Show', boletim %></td>
        <td><%= link_to 'Edit', edit_boletim_path(boletim) %></td>
        <td><%= link_to 'Destroy', boletim, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Boletim', new_boletim_path %>
