<div class="container">
     <div class="row">
          <div class="col-md-6 col-sm-12">
               <%= flash_messages if defined? (flash[:success]["Contato"].size) %>
               <form id="contact-form" role="form" action="/contatos" method="post">
                    <%= hidden_field_tag :authenticity_token, form_authenticity_token %> 
                    <div class="section-title">
                         <h2>Contato <small>Entre em contato, que logo responderemos!</small></h2>
                    </div>
                    <div class="col-md-12 col-sm-12">
                         <input type="text" class="form-control" placeholder="Escreva seu nome completo" name="contato[nome]" required="">
                         <input type="email" class="form-control" placeholder="Escreva seu endereço de email" name="contato[email]" required="">
                         <textarea class="form-control" rows="6" placeholder="Escreva sua mensagem" name="contato[mensagem]" required=""></textarea>
                    </div>
                    <div class="col-md-4 col-sm-12">
                         <input type="submit" class="form-control" name="Enviar mensagem" value="Enviar Mensagem">
                    </div>
               </form>
          </div>
          <div class="col-md-6 col-sm-12">
               <div class="contact-image">
                    <img src="images/contact-image.jpg" class="img-responsive" alt="Smiling Two Girls">
               </div>
          </div>
     </div>
</div>