<div id="comslider_in_point_1778442"></div>
<script type="text/javascript">
var oCOMScript1778442=document.createElement('script');
oCOMScript1778442.src="comslider1778442/comsliderd.js?timestamp=1551045594";
oCOMScript1778442.type='text/javascript';
document.getElementsByTagName("head").item(0).appendChild(oCOMScript1778442);
</script>
<!-- HOME -->
<!-- <section id="home">
    <div class="row">  
     <div class="owl-carousel owl-theme home-slider">
          <div class="item item-first">
               <div class="caption">
                    <div class="container">
                         <div class="col-md-6 col-sm-12">
                              <h1>Ferramentas</h1>
                              <h3>Peças, ferramentas e maquinários.</h3>
                              <a href="#feature" class="section-btn btn btn-default smoothScroll">PRODUTOS</a>
                         </div>
                    </div>
               </div>
          </div>

          <div class="item item-second">
               <div class="caption">
                    <div class="container">
                         <div class="col-md-6 col-sm-12">
                              <h1>Tambores</h1>
                              <h3>Variedades em produtos em tambores.</h3>
                              <a href="#courses" class="section-btn btn btn-default smoothScroll">PRODUTOS</a>
                         </div>
                    </div>
               </div>
          </div>

          <div class="item item-third">
               <div class="caption">
                    <div class="container">
                         <div class="col-md-6 col-sm-12">
                              <h1>Rações</h1>
                              <h3>Variedades em rações.<a href="https://campinapolis.com" target="_parent"></a></h3>
                              <a href="#contact" class="section-btn btn btn-default smoothScroll">MENSAGEM</a>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</div>
</section>

 -->