                      <h2>Ferramentas, ração, sementes e diversos produtos para o amigo fazendeiro.</h2>

                              <figure>
                                   <span><i class="fa fa-users"></i></span>
                                   <figcaption>
                                        <h3>Bom atendimento</h3>
                                        <p>Empresa de confiança. Com os melhores produtos e o apoio de uma equipe preparada.</p>
                                   </figcaption>
                              </figure>

                              <figure>
                                   <span><i class="fa fa-thumbs-up"></i></span>
                                   <figcaption>
                                        <h3>Produtos de Qualidade</h3>
                                        <p>Trabalhamos com grandes marcas já consagrada no mercado, para melhor lhe atender.</p>
                                   </figcaption>
                              </figure>

                              <figure>
                                   <span><i class="fa fa-sort-amount-asc"></i></span>
                                   <figcaption>
                                        <h3>Preço Baixo</h3>
                                        <p>Grande preocupação com nossos clientes, oferecendo produtos com preços que cabe no seu bolso.</p>
                                   </figcaption>
                              </figure>