<%= flash_messages if defined? (flash[:success]["mensagem"].size) %>
<form action="whatsapp/index" method="post">
	<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
	<h4 style="color:#fff">Envie uma mensagem para nosso Whatsapp!</h4>
	<input type="text" name="nome" class="form-control" placeholder="Nome completo" required="">
	<input type="text" name="mensagem" class="form-control" placeholder="Mensagem" required="">
	<!-- <input type="email" name="email" class="form-control" placeholder="Endereço de e-mail" required=""> -->
	<!-- <input type="password" name="password" class="form-control" placeholder="senha" required=""> -->
	<button class="submit-btn form-control" id="form-submit">Enviar</button>
</form>
