     <%= render "pages/home/index" %>
     <!-- FEATURE -->
     <section id="feature">
          <%= render "pages/feature/index" %>
     </section>
     <!-- ABOUT -->
     <section id="about">
          <div class="container">
               <div class="row">
                    <div class="col-md-6 col-sm-12">
                         <div class="about-info">
                          <%= render "pages/about/about-info" %>

                     </div>
                </div>

                <div class="col-md-offset-1 col-md-4 col-sm-12">
                    <div class="entry-form">
                         <%= render "pages/about/entry-form" %>

                    </div>
               </div>
          </div>
     </div>
</section>


<!-- TEAM -->
<section id="team">
    <%= render "pages/team/index" %>
</section>


<!-- Courses -->
<section id="courses">
     <%= render "pages/courses/index" %>
</section>


<!-- TESTIMONIAL -->
<section id="testimonial">
    <%= render "pages/testimonial/index" %>
</section>

<section id="google-map">
    <div class="container">
        <div class="row">
            <div class="map">
                <span> </span>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1623.795619032613!2d-52.79932052473134!3d-14.538640343916153!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9372021abe855d6b%3A0x4a1ac9f09cde332f!2sTambores+Nogueira!5e0!3m2!1spt-BR!2sbr!4v1555818266198!5m2!1spt-BR!2sbr" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>        
</section>

<!-- CONTACT -->
<section id="contact">
     <%= render "pages/contact/index" %>
</section>
<hr>
<style>
hr { 
    //display: block;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: auto;
    margin-right: auto;
    //border-style: inset;
    border-width: 5px;
    border-color: #ffcb00;
} 
</style>