<div class="container">
<div class="row">
     <div class="col-md-12 col-sm-12">
          <div class="section-title">
               <h2>PRODUTOS <small>em destaque.</small></h2> 
          </div>
          <div class="owl-carousel owl-theme owl-courses">
               <%= render partial: "pages/courses/produto",:locals => {:p => 1} %>
          </div>
          <div class="owl-carousel owl-theme owl-courses">
               <%= render partial: "pages/courses/produto",:locals => {:p => 2} %>
          </div>
     </div>
</div>