<% @produtos = @primeira_parte_em_produtos if p == 1 %>   
<% @produtos = @segunda_parte_em_produtos if p == 2 %>  
<% @produtos.each do |produto| %>
<div class="col-md-4 col-sm-4">
     <div class="item">
          <div class="courses-thumb">
               <div class="courses-top">
                    <div class="courses-image">
                              <%= cl_image_tag(produto.image.key,class:"img-responsive",:transformation=>[{:width=>350,:height=>250,:crop=>"fill"}]) 
                              %>
                    </div>
                    <div class="courses-date">
                         <!-- ################################################
                          <span><i class="fa fa-calendar"></i> </span>
                         <span><i class="fa fa-clock-o"></i> </span> 
                         ##################################################### -->
                    </div>
               </div>

               <div class="courses-detail">
                    <h3><a href=""><%= produto.name.titleize %></a></h3>
                    <p><%= produto.descricao %></p>
               </div>

               <div class="courses-info">
                    <div class="courses-author">
                         <%= cl_image_tag(produto.image.key,class:"img-responsive", :transformation=>[{:width=>50,:height=>50,:crop=>"fill"}]) 
                         %>
                         <span><%= produto.quantidade %>: </span>
                    </div>
                    <div class="courses-price">
                         <a href=""><span>R$<%= produto.valor %></span></a>
                    </div>
               </div>
          </div>
     </div>
</div>
<% end %>