<div class="container">
     <div class="row">

          <div class="col-md-4 col-sm-4">
               <div class="feature-thumb">
                    <span><i class="fa fa-shopping-cart"></i></i></i></span>
                    <h3>Venda de Tambores</h3>
                    <p>Cocheiras, cochos, bebedouros, churrasqueiras, grelhas, lixeiras, baldes e rações.</p>
               </div>
          </div>

          <div class="col-md-4 col-sm-4">
               <div class="feature-thumb">
                    <span><i class="fa fa-sun-o"></i></span>
                    <h3>Sementes de pastagens</h3>
                    <p>Tambores Nogueira tem sempre a melhor opção em sementes. São sementes puras, polimerizadas, tratadas e diluídas com cristais de cálcio, tendo atestado de garantia e boletim de análise. O que garante o plantio de um produto de qualidade comprovada.</p>
               </div>
          </div>

          <div class="col-md-4 col-sm-4">
               <div class="feature-thumb">
                    <span><i class="fa fa-wrench"></i></span>
                    <h3>Ferramentas</h3>
                    <p>Temos uma ampla linha de ferramentas motorizadas portáteis, destinados as áreas florestal, agropecuário, jardinagem profissional, limpeza e conservação, construção civil e uso ocasional.</p>
               </div>
          </div>

     </div>
</div>
