<%= form_with(model: whatsapp_info, local: true) do |form| %>
  <% if whatsapp_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(whatsapp_info.errors.count, "error") %> prohibited this whatsapp_info from being saved:</h2>

      <ul>
      <% whatsapp_info.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :to %>
    <%= form.text_field :to %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
