<p id="notice"><%= notice %></p>

<h1>Whatsapp Infos</h1>

<table>
  <thead>
    <tr>
      <th>To</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @whatsapp_infos.each do |whatsapp_info| %>
      <tr>
        <td><%= whatsapp_info.to %></td>
        <td><%= link_to 'Show', whatsapp_info %></td>
        <td><%= link_to 'Edit', edit_whatsapp_info_path(whatsapp_info) %></td>
        <td><%= link_to 'Destroy', whatsapp_info, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Whatsapp Info', new_whatsapp_info_path %>
