<input name=produto[valor] class="form-control" type="text" id="produto_valor"/>
<script>
$('document').ready(function() {
	$(function() {
 		$('#produto_valor').maskMoney({prefix:'R$ ',allowNegative: false,affixesStay: false,thousands:'.', decimal:'.'});
	})
	$(function() {
		$('#produto_valor').maskMoney('mask',<%= @object.valor %>);
	})
	$(function() {
		$('#produto_valor').focus();
		$('#produto_name').focus();
	})
	
})
</script>