 <!-- PRE LOADER -->
     <section class="preloader">
          <div class="spinner">
               <span class="spinner-rotate"></span>
          </div>
     </section>
     <!-- MENU -->
     <section class="navbar custom-navbar navbar-fixed-top" role="navigation">
          <div class="container">
               <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                    </button>
                    <!-- lOGO TEXT HERE -->
                    <a href="/" class="navbar-brand">Tambores Nogueira</a>
               </div>
               <!-- MENU LINKS -->
               <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-nav-first">
                         <li><a href="#top" class="smoothScroll">Início</a></li>
                         <li><a href="#about" class="smoothScroll">Sobre nós</a></li>
                         <li><a href="#team" class="smoothScroll">Equipe</a></li>
                         <li><a href="#courses" class="smoothScroll">Produtos</a></li>
                         <li><a href="#testimonial" class="smoothScroll">Promoções</a></li>
                         <li><a href="#contact" class="smoothScroll">Contato</a></li>
                         <li><a href="/admin" class="smoothScroll">Admin</a></li>
                         <!-- <li><a href="/admin" class="smoothScroll">Administrar</a></li> -->
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                         <li><a href="/"><i class="fa fa-phone"></i> (66) 98115-8518</a></li>
                    </ul>
               </div>
          </div>
     </section>