<!DOCTYPE html>
<html>
<head>
  <%= csrf_meta_tags if controller_name != "whatsapp" %>
  <%= csp_meta_tag %>
  <title>Tambores Nogueira</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/owl.carousel.css">
  <link rel="stylesheet" href="/css/owl.theme.default.min.css">
  <link rel="stylesheet" href="/css/templatemo-style.css">
  <link rel="icon" href="images/favicon-empire.ico" />
</head>

<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">
  <%= render partial: "layouts/nav" %>
  <%= yield %>
  <footer id="footer">
    <%= render "pages/footer/index" %>
  </footer>
  <hr>
  <script src="/js/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/owl.carousel.min.js"></script>
  <script src="/js/smoothscroll.js"></script>
  <script src="/js/custom.js"></script>
</body>
</html>